*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #edf1f3;
}
.service1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}
.service1 > .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service1 > .text > p{
    font-size: 90px;
    text-transform: uppercase;
}
.service1 > .text > button{
    margin-left: -32rem;
    margin-top: 3rem;
    height: 3rem;
    width: 15rem;
    background-color: #212529;
    border: none;
    padding: 5px;
    color: #edf1f3;
    text-transform: uppercase;
    font-size: large;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.service1 > .text > button:hover{
    background-color: black;
}
.service1 > .text >image >img{
   

}
.service2{
    visibility: hidden;
}