<app-navbar></app-navbar>
<div class="main">
    <div class="service1">
        <div class="text">
            <p>technology<br>hack you won't <br>get</p>
            <button>shop product</button>
        </div>
        <div class="image">
            <img src="../assets/watch.png" alt="">
        </div>
    </div>
    <!-- <div class="service2">
        <div class="text">
            <p>your products are great .</p>
            <button>shop product</button>
        </div>
        <div class="image">
            <img src="../assets/watch.jpeg" alt="">
        </div>
    </div> -->

    <!-- ============================SERVICES=============================== -->
    <div class="services">
        <div class="card1">
            <span>
                <h2>free delivery</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
        <div class="card2">
            <span>
                <h2>quality guarantee</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
        <div class="card3">
            <span>
                <h2>daily offers</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
        <div class="card4">
            <span>
                <h2>100% secure payment</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
    </div>

    <!-- ============================MOBILE PRODUCTS=============================== -->
    <div class="mobile_products">
        <div class="phone">
            <img src="" alt="iphone 10">
            <div>
                <span>iphone 10</span>
                <p>$980</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 11">
            <div>
                <span>iphone 11</span>
                <p>$1100</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 8">
            <div>
                <span>iphone 8</span>
                <p>$780</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 13">
            <div>
                <span>iphone 13</span>
                <p>$1500</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 12">
            <div>
                <span>iphone 12</span>
                <p>$1300</p>
            </div>
        </div>
    </div>
     <!-- ============================SMART WARCHES=============================== -->
     <div class="watch_products">
        <div class="phone">
            <img src="" alt="pink watch">
            <div>
                <span>pink watch</span>
                <p>$870</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 11">
            <div>
                <span>iphone 11</span>
                <p>$1100</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 8">
            <div>
                <span>iphone 8</span>
                <p>$780</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 13">
            <div>
                <span>iphone 13</span>
                <p>$1500</p>
            </div>
        </div>
        <div class="phone">
            <img src="" alt="iphone 12">
            <div>
                <span>iphone 12</span>
                <p>$1300</p>
            </div>
        </div>
    </div>
</div>
