*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #edf1f3;
}
.service1{
    display: flex;
    align-items: center;
    gap: 20rem;
    padding-left: 8rem;
    padding-right: 4rem;
    height: 25rem;
}
.service1.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.service1 > .text > p{
    font-size: xxx-large;
    font-weight: bold;
    text-transform: uppercase;
}
.service1 > .text > button {
    margin-top: 3rem;
    height: 3rem;
    width: 15rem;
    background-color: #212529;
    border: none;
    color: white;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.service1 > .text > button:hover{
    background-color: black;
}
.service1 > image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service1>image>img{
    margin-left: 3rem;  
}
