<app-navbar></app-navbar>
<div class="main">
    <div class="service1">
        <div class="text">
            <p>technology<br>hack you won't <br>get</p>
            <button>shop product</button>
        </div>
        <div class="image">
            <img src="../assets/watch.jpeg" alt="">
        </div>
    </div>
    <div class="service2">
        <div class="text">
            <p>your products are great .</p>
            <button>shop product</button>
        </div>
        <div class="image">
            <img src="../assets/watch.jpeg" alt="">
        </div>
    </div>
</div>
